@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background-image: url('./wavy-lines.svg'); */
  background-image:
  linear-gradient(to bottom, rgba(19, 31, 49, 0.95), rgba(4, 5, 5, 1)),
    url('./bg_tech.jpg');
  background-size: contain;
  background-position: top center;
  user-select: none;
}

.btn {
  @apply px-4 py-2 hover:bg-slate-800 transition-all border rounded-full shadow-sm text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2;
}


.link{
  @apply hover:text-primary-500 text-gray-400 text-sm font-semibold transition-all duration-300;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

/* Стилизация скроллбара в стиле Adobe */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

