:root {
  --primary: #ccff00;
  --primary-dark: #99cc00;
  --primary-glass: #293300;
  --foreground: #ffffff;
  --background: #0e0f11;
  --dimineshed: grey;
  --blob: #495674;
  --glow: #495674;
  --spot: #17181c;
  --border: #ffffff40;
  --border-radius: 3rem;
  --background-gradient: radial-gradient(
    circle at 100% 100%,
    var(--spot),
    var(--background) 50%
  );
}

body {
  font-family:
    'Clash Grotesk',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  background: var(--background-gradient);
  position: relative;
}

body::before {
  content: '';
  left: 10%;
  top: 0;
  -webkit-filter: blur(100px);
  filter: blur(100px);
  background-color: var(--blob);
  opacity: 0.5;
  width: 300px;
  aspect-ratio: 1;
  position: absolute;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
